# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:                 lsp-plugins (Linux Studio Plugins)
#   Package version:         1.2.24
#   Plugin name:             Ring Modulated Sidechain Mono (Ring Modulated Sidechain Mono)
#   Plugin version:          1.0.0
#   UID:                     ringmod_sc_mono
#   CLAP URI:                in.lsp-plug.ringmod_sc_mono
#   GStreamer identifier:    lsp-plugins-ringmod-sc-mono
#   LADSPA identifier:       5002334
#   LADSPA label:            http://lsp-plug.in/plugins/ladspa/ringmod_sc_mono
#   LV2 URI:                 http://lsp-plug.in/plugins/lv2/ringmod_sc_mono
#   VST 2.x identifier:      rm1m
#   VST 3.x identifier:      64737020726D316D2020726D7363316D
# 
# (C) Linux Studio Plugins
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Side-chain shared memory link [string]
link = ""

# Show pre-mix overlay [boolean]: true/false
showpmx = false

# Input to Link mix [G]: 0.00000000..10.00000000
in2lk = -inf db

# Link to Input mix [G]: 0.00000000..10.00000000
lk2in = -inf db

# Link to Sidechain mix [G]: 0.00000000..10.00000000
lk2sc = -inf db

# Input to Sidechain mix [G]: 0.00000000..10.00000000
in2sc = -inf db

# Sidechain to Input mix [G]: 0.00000000..10.00000000
sc2in = -inf db

# Sidechain to Link mix [G]: 0.00000000..10.00000000
sc2lk = -inf db

# Bypass [boolean]: true/false
bypass = false

# Input gain [G]: 0.00000000..1000.00000000
g_in = -14.50 db

# Sidechain gain [G]: 0.00000000..1000.00000000
g_sc = 0.00 db

# Output gain [G]: 0.00000000..1000.00000000
g_out = 0.00 db

# Output input signal [boolean]: true/false
out_in = true

# Output sidechain signal [boolean]: true/false
out_sc = true

# Sidechain processing active [boolean]: true/false
active = true

# Invert sidechain processing [boolean]: true/false
invert = false

# Sidechain type: 0..2
#   0: Internal
#   1: External
#   2: Link
type = 1

# Hold time [ms]: 0.00000000..10.00000000
hold = 0.42000

# Release time [ms]: 0.00000000..100.00000000
release = 0.01063

# Lookahead time [ms]: 0.00000000..10.00000000
lk = 0.00000

# Ducking time [ms]: 0.00000000..10.00000000
duck = 1.47000

# Amount [dB]: -12.00000000..24.00000000
amount = 8.10000

# Show mix overlay [boolean]: true/false
showmx = false

# Dry gain [G]: 0.00000000..10.00000000
dry = -inf db

# Wet gain [G]: 0.00000000..10.00000000
wet = 0.00 db

# Dry/Wet balance [%]: 0.00000000..100.00000000
drywet = 100.00000

# Pause graph analysis [boolean]: true/false
pause = false

# Clear graph analysis [boolean]: true/false
clear = false

# Input visiblity [boolean]: true/false
ilv = true

# Sidechain visiblity [boolean]: true/false
slv = true

# Gain reduction visiblity [boolean]: true/false
grv = true

# Output level visiblity [boolean]: true/false
olv = true


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
